@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  height: 100vh;
  background: radial-gradient(circle at top, #0f2027, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.glass-card{
  width: 360px;
  padding: 30px;
  border-radius: 18px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255,255,255,0.15);
}
